.green {
	width: 200px;
	height: 200px;
	background-color: green;
	margin: auto;
	margin-top: 200px;
}
.main {
	display: flex;
	justify-content: space-around;
}

.render-block {
	display: flex;
	flex-direction: column;
	height: 500px;
	width: 500px;
}
.result {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 22px 22px 60px #bebebe, -22px -22px 60px #ffffff;
}
.settings {
	height: 500px;
	width: 500px;
	background-color: #955fdf;
	border-radius: 50px;
}
.code-result {
	margin: auto;
	width: 400px;
	height: 200px;
	background-color: #fff;
}
